body {
    width: 1280px;
    margin: auto;
    background-color: var(--progect-color1);
    font-family: Arial, Verdana, sans-serif;
    padding: 20px;
}

:root {
    --progect-color1: #F2F7FC;
    --progect-color2: #315B7C;
    --progect-color3: #121212;
    --progect-color4: #666666;
    --progect-color5: #7E9AB0;
    --progect-color6: #000000;
    --progect-color7: #FF5561;
    --progect-color8: #FFFFFF;
    --progect-color9: #121212;
}

.myHeader {
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    padding-left: 335px;
}


.elemInHeader {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.searchInput {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 610px;
    padding-left: 15px;
}

.searchButton {
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    height: 26px;
    width: 26px;
    background: url(src/assets/image/icons/search.svg) no-repeat 0 50%;
    position: absolute;
    margin-left: 565px;
}

.supervisor {
    width: 295px;
    display: flex;
    align-items: center;
}

.myImg {
    width: 50px;
    height: 50px;
}

.infoSupervisor {
    margin-left: 10px;
    display: block;
    width: 200px;
}

.nameSupervisor {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    height: 24px;
    color: var(--progect-color3);
    font-weight: 500;
}

.postSupervisor {
    display: inline-block;
    font-size: 12px;
    margin-top: 0;
    height: 18px;
    color: var(--progect-color4);
}

.mainContent {
    display: flex;
}

.sidebar {
    width: 295px;
    margin-right: 20px;
}

.navigation {
    margin-left: 10px;
}

.navigation ul {
    padding: 0;
}


.elemNav {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.homeLetter, .iconStaging, .iconListUl,
.iconBooks, .iconBoxContainer, .iconBellOn,
.iconUsers {
    color: var(--progect-color2);
    font-size: 16px;
    height: 46px;
    width: 230px;
    display: inline-block;
    padding-left: 55px;
}

.homeLetter:hover, .iconStaging:hover, .iconListUl:hover,
.iconBooks:hover, .iconBoxContainer:hover, .iconBellOn:hover,
.iconUsers:hover {
    color: var(--progect-color8);
    background-color: var(--progect-color5);
    border-radius: 7px;
}

.homeLetter {
    background: url(src/assets/image/icons/homeletter-red.svg) no-repeat 10px 50%;
}

.homeLetter:hover {
    background: url(src/assets/image/icons/homeletter-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.iconStaging {
    background: url(src/assets/image/icons/staging-red.svg) no-repeat 10px 50%;
}

.iconStaging:hover {
    background: url(src/assets/image/icons/staging-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.iconListUl {
    background: url(src/assets/image/icons/list-ul-red.svg) no-repeat 10px 50%;
}

.iconListUl:hover {
    background: url(src/assets/image/icons/list-ul-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.iconBooks {
    background: url(src/assets/image/icons/books-red.svg) no-repeat 10px 50%;
}

.iconBooks:hover {
    background: url(src/assets/image/icons/books-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.iconBoxContainer {
    background: url(src/assets/image/icons/box-container-red.svg) no-repeat 10px 50%;
}

.iconBoxContainer:hover {
    background: url(src/assets/image/icons/box-container-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.iconBellOn {
    background: url(src/assets/image/icons/bell-on-red.svg) no-repeat 10px 50%;
}

.iconBellOn:hover {
    background: url(src/assets/image/icons/bell-on-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.iconUsers {
    background: url(src/assets/image/icons/users-red.svg) no-repeat 10px 50%;
}

.iconUsers:hover {
    background: url(src/assets/image/icons/users-white.svg) no-repeat 10px 50%, var(--progect-color5);
}

.linkText {
    display: inline-block;
    height: 24px;
    font-size: 16px;
    margin-top: 16px;
}

.infoQR {
    display: block;
    margin-top: 70px;
    background-color: var(--progect-color8);
    width: 295px;
    border-radius: 10px;
}

.textQR {
    padding-left: 21px;
    padding-top: 20px;
    padding-right: 20px;
    color: var(--progect-color2);
    font-size: 24px;
    font-weight: 700;
}

.imgQR {
    display: block;
    width: 130px;
    height: 130px;
    margin: auto;
}

.buttonQR {
    margin: 40px 0 61px 63px;
    color: var(--progect-color8);
    background-color: var(--progect-color2);
    border-radius: 10px;
    height: 45px;
    width: 168px;
    border: none;
}


.mainInfo {
    width: 925px;
    background:  linear-gradient(180deg, rgba(49, 91, 124, 0.02) 40%, #222328 100%), url("src/assets/image/trail-b3u6NeaiGkA-unsplash 1.png") no-repeat 0 0, var(--progect-color6);
    color: white;
    border-radius: 10px;
}

.myBody {
    display: flex;
    margin: 0 auto;
}

.blockInfo1 {
    padding-top: 135px;
    padding-left: 80px;
}

.blockInfo2 {
    padding-top: 40px;
    padding-left: 400px;
    padding-right: 58px;
}

.blockInfo3 {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 408px;
}



.sizeTextInfo1 {
    font-size: 54px;
    margin-bottom: 20px;
}

.sizeTextInfo2 {
    font-size: 24px;
    margin-top: 0;
}

.sizeTextInfo3 {
    font-size: 16px;
    margin-top: 0;
}

.redButton {
    color: var(--progect-color8);
    background-color: var(--progect-color7);
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 190px;
}

.infoBoxes {
    display: flex;
    gap: 20px;
    padding-inline: 20px;
    flex-wrap: wrap;
}

.infoBox1, .infoBox2, .infoBox3,
.infoBox4, .infoBox5 {
    position: relative;
    display: block;
    border-radius: 10px;
    background: #F2F7FC;
    opacity: 0.8;
    height: 200px;
}

.infoBox1, .infoBox3 {
    width: 282px;
}

.infoBox2 {
    width: 281px;
}

.infoBox4 {
    width: 508px;
}

.infoBox5 {
    width: 357px;
}

.infoBoxSizeText1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--progect-color2);
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
}

.infoBoxSizeText2 {
    font-size: 16px;
    color: var(--progect-color9);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    margin: 0;
}

.moreInfo {
    display: inline-block;
    visibility: hidden;
    color: var(--progect-color2);
    position: absolute;
    right: 60px;
    bottom: 20px;
}

.infoBox1:hover .moreInfo {
    visibility: visible;
}

.infoBox2:hover .moreInfo {
    visibility: visible;
}

.infoBox3:hover .moreInfo {
    visibility: visible;
}

.infoBox4:hover .moreInfo {
    visibility: visible;
}

.infoBox5:hover .moreInfo {
    visibility: visible;
}

.buildIcon {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.blockInfo4 {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 408px;
}

.listBlock4 {
    padding-left: 15px;
}

.myFooter {
    margin-top: 40px;
    margin-left: 80px;
}

.question {
    height: 43px;
    display: flex;
    align-items: center;
}

.questionText {
    font-size: 36px;
}

.questionText::before {
    content: " ";
    width: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background: var(--progect-color2);
}

.usersContent {
    display: flex;
    align-items: center;
    gap: 80px;
}

.users {
    margin-top: 40px;
}

.usersPhoto {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.icon1 {
    margin-top: 20px;
    margin-left: 5px;
}

.icon2 {
    margin-top: 20px;
    margin-left: 15px;
}